
<div class="container-lg p-responsive">
  <div class="Subhead Subhead--spacious">
    <div class="Subhead-heading">Connect to a learning management system</div>
  </div>
  <div class="my-3">
    <p>Connecting GitHub Classroom to your institution's learning management system will unlock new capabilities,
    such as automatic roster importing, and enhance your experience. You can always skip this step and come back later.
    <%= link_to "Learn more", help_path(article_name: "connect-to-lms") %>.
    </p>
    <div class="d-flex flex-wrap gutter">
      <% if google_classroom_roster_import_enabled? %>
        <div class="col-6 col-md-4 col-lg-4">
          <%= button_to google_classrooms_index_organization_path(current_organization), method: :get, class: 'd-block width-full text-center hover-grow border rounded-2 box-shadow-medium bg-white p-3 mb-4' do %>
            <%= image_tag "google-classroom-logo.png", class: 'avatar d-block mx-auto mb-2', height: 25 %>
            <span class="css-truncate-target" title="Google Classroom">Google Classroom</span>
          <% end %>
        </div>
      <% end %>
      <% if lti_launch_enabled? %>
        <% LtiConfiguration.lms_types.each_pair do |lms_type, lms_name| %>
          <% lms_name = "Other LMS" if lms_type == "other" %>
          <div class="col-6 col-md-4 col-lg-4">
            <%= button_to info_lti_configuration_path(current_organization), method: :get, params: { lms_type: lms_type }, class: 'd-block width-full text-center hover-grow border rounded-2 box-shadow-medium bg-white p-3 mb-4' do %>
              <%= image_tag "#{lms_type}-logo.png", class: 'avatar d-block mx-auto mb-2', height: 25 %>
              <span class="css-truncate css-truncate-target" title=<%= lms_name %>><%= lms_name %></span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= link_to "Skip", new_roster_path(current_organization), class: 'right', method: :get %>
    </div>
  </div>
</div>
